<template name="listCreate">
    <aside class="lg-side">
        <div class="inbox-head">
            <h3>Create List</h3>
        </div>
        <div class="inbox-body">
            <form class="new-list">
                <div class="form-group">
                    <label for="txtListName">List Name</label>
                    <input type="text" class="form-control" id="txtListName" placeholder="List Name">
                </div>
                <br />
                <button type="submit" class="btn btn-create-list btn-md btn-block">Create List</button>
            </form>
        </div>
    </aside>
</template>